/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 13/04/2021, 2:46:19 PM
    Author     : juanguo
*/
span.item {
    text-align: center;
    background: Azure;
    border-style: dotted;
}
